IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8002
PUERTO_ESCUCHA=8003
PATH_FAT=/home/utnso/tp-2023-2c-KernelTitans/filesystem/fs/fat.txt
PATH_BLOQUES=/home/utnso/tp-2023-2c-KernelTitans/filesystem/fs/bloques.txt
PATH_FCB=/home/utnso/tp-2023-2c-KernelTitans/filesystem/fs/fcbs/fcb.txt
CANT_BLOQUES_TOTAL=1024
CANT_BLOQUES_SWAP=8192
TAM_BLOQUE=32
RETARDO_ACCESO_BLOQUE=2500
RETARDO_ACCESO_FAT=500
